<div class="login-container">
  <div class="login-left">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (loginForm.get('email')?.invalid) {
          <mat-error>Email is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if(loginForm.get('password')?.invalid) {
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

      <button mat-raised-button color="accent" type="button" (click)="onGithubLogin()">
        Login with GitHub
      </button>
    </form>
  </div>
  <div class="login-right">
    <h1>Angular backoffice</h1>
    <!-- <div class="login-info">
      <h3>Why should I login?</h3>
      <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
      <img src="assets/dashboard-example.png" alt="Dashboard example">
    </div> -->
  </div>
</div>