<p>category chosen : {{category()}}</p>

<!-- MAT TABLE -->
<table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Director Column -->
  <ng-container matColumnDef="director">
    <th mat-header-cell *matHeaderCellDef> Director </th>
    <td mat-cell *matCellDef="let element"> {{element.director}} </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> 
      @if (element.rating) {
        <strong>{{element.rating}}</strong> &nbsp; ({{element.rating / 5 | percent}})
      }
      @else {
        <mat-icon matListItemIcon>close</mat-icon>
      }   
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>