<div class="container" [class.is-mobile]="mobileQuery.matches">
  <!-- TOP TOOLBAR -->
  <mat-toolbar class="toolbar">
    <div class="toolbar-content">
      <div>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Angular backoffice simple</h1>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">{{username}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item>Profile</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <!-- SIDENAV + CONTENT -->
  <mat-sidenav-container class="sidenav-container"
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!-- SIDENAV -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <a mat-list-item routerLink="/"><mat-icon matListItemIcon>home</mat-icon>Home</a>
          <a mat-list-item routerLink="/movies"><mat-icon matListItemIcon>movie</mat-icon>Movies</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content>
      <mat-card appearance="outlined" class="content">
          <mat-card-content>
            <!-- OUTLET -->
            <router-outlet />
          </mat-card-content>
      </mat-card>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
